/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*askerisk wildcard selector to override styles added by the browser*/

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body { min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*Generic project styles*/
    color: #3a3a3a;
    flex: 1 0 auto;


}



header { background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;


}
header a {  text-decoration: none;
    color:inherit;

}
h1 { font-family: 'Oswald', ans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;

}
main { background-color: lightblue;
    /* Main element takes up surplus space */
    flex: 1 0 auto;
}
footer { background-color: orange;

}