/*askerisk wildcard selector to override styles added by the browser*/

* { padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*general styles*/
body { min-height: 100vh;
    display: flex;
    flex-direction: color;

}
/*generic project style*/

header { background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;


}
header a {  text-decoration: none;
    color:inherit;

}
h1 { font-family: 'Oswald', ans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;

}
main { background-color: lightblue;
    flex: 1 0 auto;
}

